<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizador tasks</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
<div class="container">
    <h1>Iniciar sesión</h1>

    <form th:action="@{/users/login}" method="post">
        <input type="text" id="email" name="email" placeholder="Correo electrónico" required>
        <input type="password" id="password" name="password" placeholder="Contraseña" required>
        <button type="submit">Iniciar sesión</button>
    </form>

    <form th:action="@{/get/signup}" method="get">
        <button type="submit">Registrar</button>
    </form>
    <p th:if="${error}" th:text="${error}" style="color: red;"></p>
</div>
</body>

</html>
